{{>layout/header}}
<div class="container">

    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <form action="" method="post">

        <div>
            <p class="field-error" th:if="${__fields.hasGlobalErrors()}" th:each="err : ${__fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" name="memberId" class="form-control"
                   th:classappend="${__fields.hasErrors('memberId')} ? 'field-error' : ''">
            <div class="field-error" th:if="${__fields.hasErrors('memberId')}" th:errors="${memberId}"></div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="memberPassword" class="form-control"
                   th:classappend="${__fields.hasErrors('memberPassword')} ? 'field-error' : ''">
            <div class="field-error" th:if="${__fields.hasErrors('memberPassword')}" th:errors="${memberPassword}"></div>
        </div>
        <div>
            <label for="nickname">이름</label>
            <input type="text" id="nickname" name="nickname" class="form-control"
                   th:classappend="${__fields.hasErrors('nickname')} ? 'field-error' : ''">
            <div class="field-error" th:if="${__fields.hasErrors('nickname')}" th:errors="${nickname}"></div>
        </div>

        <div>
            <label for="emailAddress">이메일 주소</label>
            <input type="text" id="emailAddress" name="emailAddress" class="form-control"
                   th:classappend="${__fields.hasErrors('emailAddress')} ? 'field-error' : ''">
            <div class="field-error" th:if="${__fields.hasErrors('emailAddress')}" th:errors="${emailAddress}"></div>
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button"
                        onclick="location.href='/'">취소</button>
            </div>
        </div>

    </form>

</div>
{{>layout/footer}}